.App {
  text-align: center;
}

.App-logo {
  animation: bounce infinite 0.4s linear;
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  20% {
    transform: translate3d(2px, 1px, 0);
  }
  40% {
    transform: translate3d(0px, -2px, 0);
  }
  60% {
    transform: translate3d(-6px, 1px, 0);
  }
  80% {
    transform: translate3d(-2px, 3px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
